<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="/_linkImports"></th:block>
        <title>Boat Registration</title>
    </head>
    <body>
        <th:block th:include="/_menu"></th:block>
        <div class="container">
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-title mt-3 text-center">Register your boat</h4>
                    <p class="text-center">Please enter in all of the boat details below</p>

                    <form th:action="@{/boat/boatRegistration}" method='POST' th:object="${boatRegistration}" >
                    <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                           th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                            error</p>

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                             </div>
                            <div><input name="boatName" th:field="*{boatName}" class="form-control" placeholder="Boat name" type="text"></div>
                            <div class="alert alert-danger " th:each="error: ${#fields.errors('boatName')}" th:text="${error}"></div>
                        </div>

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                             </div>
                            <div><input name="description" th:field="*{description}" class="form-control" placeholder="Boat Description" type="text"></div>
                            <div class="alert alert-danger " th:each="error: ${#fields.errors('description')}" th:text="${error}"></div>
                        </div>

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <div><input class="form-control" th:field="*{weight}" placeholder="Boat Weight" type="text"></div>
                            <div class="alert alert-danger " th:each="error: ${#fields.errors('weight')}" th:text="${error}"></div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Register boat  </button>
                        </div>
                    </form>
                </article>
            </div>
        </div>
    </body>
</html>